<div class="row">
    <div class="col-md-12">
      <h2>Courses</h2>
      <hr />
  
      <% if (typeof courses !== "undefined") { %>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Course Code</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% courses.forEach(course => { %>
                <tr>
                  <td><a href="/course/<%= course.courseId %>"><%= course.courseCode %></a></td>
                  <td><a href="/students?course=<%= course.courseId %>"><%= course.courseDescription %></a></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } else { %>
        <div class="text-center"><strong><%= message %></strong></div>
      <% } %>
    </div>
  </div>
  